.templates(ng-class="{ 'is-shown': templates.isShown }")
  h3 Templates
  ul.templates-list
    li(ng-repeat="template in templates.templates")
      a(ng-click="templates.selectTemplate(template)") {{ template.name }}
